.poppupContainer {
  width: 80%;
  height: 590px;

  background: #f5f5f5;
  border-radius: 25px;

  // position absolute center
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.closeButton {
  width: 25px;
  height: 25px;

  position: absolute;

  cursor: pointer;

  top: 25px;
  right: 25px;
}
