$darkFont: #223c66;

.landing_section_title_whyUs {
  //   border: green 2px solid;

  color: $darkFont;
}

// ************************************
// Why us
.landing_section_1 {
  background-color: #f3f2f2;
  width: 100%;
  // border: red 2px solid;
  min-height: 650px;
  padding: 100px 0;
}
