$darkFont: #223c66;

.contact_container {
  width: 100%;
  // margin-bottom: 180px;
  background: #f3f2f2;
}

.section_title {
  color: $darkFont;
  text-transform: capitalize;
  margin-bottom: 80px;

  font-style: normal;
  font-weight: 600;
  font-size: 62px;

  color: #202020;
}

.contact_DoubleContent_Container {
  justify-content: space-between;
  padding: 0 100px;
}

// ***********************
// left side
.contact_left_column {
  //   border: red 2px solid;
  width: 45%;
}

.contact_text_block {
  margin-bottom: 50px;
}

.contact_formContainer {
  //   border: green 2px solid;
  margin-top: 50px;
  height: auto;
}

// ***********************
// right side
.contact_right_column {
  //   border: red 2px solid;
  width: 45%;
}

.contact_googleMapAPI {
  width: 100%;
  height: 490px;

  border: blue solid 2px;
  margin-bottom: 50px;

  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.25));
}

.contact_contactInfoContainer {
  width: 100%;
  height: 200px;
}
