$darkFont: #223c66;

.contentContainer {
  min-height: 50vh;
  margin-bottom: 180px;
}

.sectionTitle {
  color: $darkFont;
  text-transform: capitalize;
  margin-bottom: 80px;
}

.text {
  font-weight: 200;
  font-size: 24px;
  max-width: 632px;
  //   border: green 2px solid;
  text-align: center;
  color: $darkFont;
  margin-bottom: 80px;
}

.button {
  background: $darkFont;
  text-transform: uppercase;
}

@media screen and (max-width: 360px) {
  .landing_contact_text {
    width: 300px;
  }
}
