.textBlockContainer {
  width: 100%;
  height: auto;
}

.textBlockHeading {
  font-size: 32px;
  font-weight: 700;

  margin-bottom: 30px;
}

.textBlockParagraph {
  font-size: 18px;
  font-weight: 400;
}

.textBlock_paragraph:not(:last-of-type) {
  margin-bottom: 40px;
}
