$darkFont: #223c66;

.landing_section_title_whyUs {
  //   border: green 2px solid;

  color: $darkFont;
}

// ************************************
// Why us
.landing_section_1 {
  background-color: #f3f2f2;
  width: 100%;
  // border: red 2px solid;
  min-height: 650px;
  padding: 100px 0;
}

// ************************************
// Programmes
.landing_section_2 {
  // border: blue 2px solid;
}

.landing_section_title_programmes {
  color: white;
  //   border: green 2px solid;
}

.landing_priceCard_container {
  // border: 2px solid red;
}

// left side **************************
.landing_section_2_left {
  // border: 2px solid red;
  padding: 100px;
}

.textBlockHeading {
  font-weight: 600;
  font-size: 62px;
  margin-bottom: 35px;
}

.textBlockParagraphs {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 30px;
}

// left side **************************
.landing_section_2_right {
  // border: 2px solid red;
}

.landing_contact_text {
  font-weight: 200;
  font-size: 24px;
  max-width: 632px;
  //   border: green 2px solid;
  text-align: center;
  color: $darkFont;
  margin-bottom: 80px;
}

.landing_contact_button {
  background: $darkFont;
  text-transform: uppercase;
}

@media screen and (max-width: 360px) {
  .landing_contact_text {
    width: 300px;
  }
}
