.packagesContainer {
  // border: blue 2px solid;
  width: 100%;
  position: relative;
  // overwrite min height
  min-height: 820px;
  //   height: 820px;
}

.sectionTitle {
  color: white;
  //   border: green 2px solid;
}
